<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TimeDimensionMapper">
    <resultMap id="TimeDimensionMapper" type="com.example.demo.model.TimeDimension">
        <id column="id" property="id"/>
        <result column="db_date" property="dbDate"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
        <result column="quarter" property="quarter"/>
        <result column="week" property="week"/>
        <result column="day_name" property="dayName"/>
        <result column="month_name" property="monthName"/>
        <result column="holiday_flag" property="holidayFlag"/>
        <result column="weekend_flag" property="weekendFlag"/>
        <result column="event" property="event"/>
    </resultMap>

    <select id="findAllTimeDimension" resultMap="TimeDimensionMapper">
        select *
        from time_dimension
        limit 0,10
    </select>

    <select id="findTimeDimensionById" parameterType="int" resultMap="TimeDimensionMapper" useCache="true">
        select *
        from time_dimension
        where id = #{id}
    </select>

    <update id="updateTimeDimension" flushCache="true" statementType="PREPARED" timeout="20">
        update time_dimension
        set event = #{event}
        where id = #{id}
    </update>
</mapper>