<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserTestDataMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.UserTestData">
        <id column="id" property="id" javaType="java.lang.Integer"/>
        <result column="c_user_id" property="userId" javaType="java.lang.String"/>
        <result column="c_name" property="name" javaType="java.lang.String"/>
        <result column="c_province_id" property="provinceId" javaType="java.lang.Integer"/>
        <result column="c_city_id" property="cityId" javaType="java.lang.Integer"/>
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime"/>
    </resultMap>
    <select id="findAllUser" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_user
    </select>
</mapper>